APP_FRONTEND_BASE_URL='Application frontend base url here'
APP_API_BASE_URL="Application api base url here"
DB_NAME="Database name here"
DB_USER="Database username here"
DB_PASSWORD="Database password here"
DB_HOST="Database host here"
DB_PORT="Database port number here"
REDIS_URL="Redis url here"
EMAIL_API_KEY="Email service api key"
SEND_EMAIL_ADDRESS="Email service address"
GOOGLE_CLIENT_ID="Google oauth client id here"
GOOGLE_CLIENT_SECRET="Google oauth client secret here"
GOOGLE_REDIRECT_URI="Google oauth redirect uri here"